extends layout

block content
    h1 iClone 
            nav
            a(href='/signup') Sign Up 
            br
            a(href='/login') Log In
            br
            a(href='/faq') FAQ 
    h1 ongoing page for instagram clone 
