extends layout

block content
    h1 iClone 
        nav
         a(href='/signup') Sign Up 
         br
         a(href='/login') Log In
         br
         a(href='/faq') FAQ 
    body
            form(action='/login', method='post')
                h2 Login
                input(name='username', type='text', placeholder='Username', required="")
                input(name='password', type='password', placeholder='Password', required="")
                input.btn.btn-primary(type='submit', value='Submit')
                
        if error
            h3= error 
        h4 dont have an account yet? 
            a(href='/signup') Sign Up