extends layout

block content
    h1 INSTAGRAM
    a(href='/home') Back to Home
    h2 My Posts
    if posts
        each post in posts
            h3= post.title
            img(src='https://s3-us-west-1.amazonaws.com/igclonev2/' + post.description, id='images')
            form(action='/delete', method='POST')
                input(type='text', name='postID', value=post.id, class='postID')
                input(type='submit', value='Delete')
                input(type='submit', value='Edit')
    else   
        h1 No posts yet 
