body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

.ideas {
  border: 2px solid; 
}

.postID {
  display: none;
}

#images {
  height: 200px;
  width: 200x; 
}

#error {
  color: red; 
}

#likes-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
